.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#buscador{
  padding: 1%;
  text-align: center;
  width: 36%;
  left: 32%;
  position: relative;
  background-color: rgba(247, 247, 247, 0.75);
  border-radius: 15px;
  margin-top: 5%;
}

#barra {
  height: 50px;
  width: 100%;
  background: #e6e4e4;
}

#fuente {
  font-family: georgia;
  font-size: 20px;
}

#centrar {
  margin-left: auto;
  margin-right: auto;
}

